{% extends "layout.html" %}
{% block title %}Map{% endblock %}

{% block content %}

<h3>Map</h3>
<hr />
{% if not x and not y %}
  <div style="position: relative; width:1000px; height: 1000px; background: url({{ url_for('static', filename='img/map/map_full.jpg') }}); box-shadow: 0 0 30px; margin: 0 auto; border: 1px solid #aaa; border-radius: 4px;">
    {% for x in range(10) %}
      {% for y in range(10) %}
        <a href="/map?x={{ x }}&y={{ y }}"><div class="map-link" rel="{{ x }},{{ y }}" style="position: absolute; width: 100px; height: 100px; left: {{ x * 100 }}px; top: {{y * 100}}px; border: 1px dashed #ddd;"></div></a>
      {% endfor %}
    {% endfor %}
  </div>

{% else %}

<div style="position: relative; width:500px; height: 500px; background: url({{ url_for('static', filename='img/map/map_full-0'+ x|string +'-0'+ y|string +'.jpg') }}); box-shadow: 0 0 30px; margin: 0 auto; border: 1px solid #aaa; border-radius: 4px; background-size:cover">
  {% if map_points|length > 0%}
    {% for point in map_points %}
      <a href="/map/island/{{ point['island_name'] }}">
        <div style="position: absolute; width: 100px; height: 10px; left: {{ (point['pos_x'] - x*100) * 5  }}px; top: {{ (point['pos_y'] - y*100)  * 5 }}px;">
          <span style="color: red; font-size: 20px;">&#x25cf;
          <span style="color:black;">{{ point['island_name'] }} ({{ point['pos_x'] }}, {{ point['pos_y'] }})</span></span>
        </div>
      </a>
    {% endfor %}
  {% endif %}
</div>

{% endif %}

{% endblock %}
